@import "utilities/variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/buttons";

$v-space-btn-sm: $padding-base-vertical;
$h-space-btn-sm: $space-xl;
$v-space-btn-lg: $space-lg - 1;
$h-space-btn-lg: $grid-unit * 8;
$v-space-btn-xl: $space-xl - 1;
$h-space-btn-xl: $grid-unit * 20;

// Buttons // --------------------------------------------------
.btn {
	transition: background-color 0.25s ease;
	min-width: 100px;
	@include button-size($v-space-btn-sm, $h-space-btn-sm, map-get($font-sizes, sm), map-get($line-heights, sm), $border-radius-small);

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		color: $dimgray;
		background: $gainsboro;
	}
}

.btn-lg {
	@include button-size($v-space-btn-lg, $h-space-btn-lg, map-get($font-sizes, bs), map-get($line-heights, bs), $border-radius-base);
}

.btn-xl {
	@include button-size($v-space-btn-xl, $h-space-btn-xl, map-get($font-sizes, lg), map-get($line-heights, lg), $border-radius-large);
}

.btn-primary {
	color: $white;
	background: $green;
	border-color: $green;
}

.btn-secondary {
	background: $white;
	color: $green;
	border-color: $green;
}

.btn-image {
	background: none;
	min-width: 0;
	padding-left: $padding-base-horizontal;
	padding-right: $padding-base-horizontal;

	.icon:before {
		margin-right: 0;
	}
}
