@import "utilities/variables";
@import "utilities/images";

$logo-size: 30px;
$line-offset: $logo-size / 2 + $space-xs;

hr {
	border-color: $silver;
}

.decorated {
	height: $logo-size;
	border: 0;
	@extend %logo-grey;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: relative;
	overflow: hidden;

	&:before, &:after {
		content: '';
		display: block;
		width: 50%;
		height: 0px;
		border-top: 1px solid $silver;
		position: absolute;
		top: 50%;
	}
	&:before {
		left: -$line-offset;
	}
	&:after {
		right: -$line-offset;
	}
}
