{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
		"es6": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
		"no-mixed-spaces-and-tabs": [1, "smart-tabs"],
    "indent": [1, "tab"],
    "quotes": [2, "single", "avoid-escape"]
  }
}
