@import "utilities/variables";
@import "modules/article";

.w-article-shorts {
	.panel {
		height: 160px;
		overflow: auto;

		&::-webkit-scrollbar
		{
		  width: $space-sm;
		}

		&::-webkit-scrollbar-track
		{
		  background: $white;
			margin: $space-xs;
		}

		&::-webkit-scrollbar-thumb
		{
		  background: $gainsboro;
			@include rounded($space-xs);
		}
	}

	.author, .image, .icon {
		display: none;
	}

	.title {
		@include text-lg;
	}

	.subheader {
		 margin-bottom: $space-xs;
	}

	.time {
		float: left;
		margin-right: $space-sm;
	}

	.subheader {
		@include text-md;
	}

	.list-links {
		@include text-sm;
	}
}
