@import "utilities/variables";

// Page layout // --------------------------------------------------

.w-page {
  min-height: 100%;
  position: relative;
	background: $background-color;
}

.w-page-content {
	&, > a {
		color: $content-text-color;
	}
}

#es-strip-container {
	z-index: 999 !important;
}
