@import "utilities/variables";

.deck {
	display: flex;
	flex-flow: row wrap;
	margin-left: -$grid-gutter-width / 2;
	margin-right: -$grid-gutter-width / 2;

	.card {
		padding: 0 ($grid-gutter-width / 2) $grid-gutter-width;
	}

	.card.half {
		flex: 0 0 percentage(1/2);
		max-width: percentage(1/2);
	}

	.card.third {
		flex: 0 0 percentage(1/3);
		max-width: percentage(1/3);
	}
}
