@import "utilities/variables";
@import "utilities/images";

$logo-width: 65px;
$logo-height: 65px;

.logo {
	float: left;
	position: relative;
	z-index: 2;

	&:before {
		content: '';
		position: absolute;
		width: $logo-width;
		height: $logo-height;
		@extend %logo-green;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	.link {
		color: $onyx;
		padding-left: $logo-width + $space-xs;
		position: relative;
		display: block;
		min-height: $logo-height;

		&:hover, &:focus {
			text-decoration: none;
		}
	}

	.title, .subtitle {
		text-align-last: justify;
		margin: 0;
	}

	.title {
		font-size: 34px;
		font-family: 'Roboto Condensed';
		margin-top: $space-xs;
	}

	@include media(0, $screen-xs-max) {
		margin-bottom: $space-sm;

		&:before {
			width: $logo-width / 1.5;
			height: $logo-height / 1.5;
		}

		.link {
			padding-left: ($logo-width / 1.5) + $space-xs;
			min-height: ($logo-height / 1.5);
		}

		.title {
			font-size: 24px;
			margin-top: $space-xs / 2;
		}

		.subtitle {
			font-size: 9px;
		}
	}
}
